.redonda{
    border-radius: 15em;
    position:relative ;
    border-color: white;
}

mat-card button{
    margin-left: 1em;
}

mat-card-title{  
    font-size: 75px;
}

mat-card-subtitle{
    font-size: 30px;
}
div{
    color: #1f1106;
}

.arriba{
    margin-top: -30px;

}

.tarjeta{
    padding-left: 7%;
    padding-top: 30px;
}