<div class="container-fluid">
    <p class="h1 titulofluid">Habilidades</p>
        <div *ngFor="let item of habilidad;let indice=index" class="row" style="display: inline-block; margin-left: 3em;" >
            <div class="card" style="margin: 2em;width:300px; height:400px;display: flexbox; align-items: center; padding: 1em;background-color: transparent;">            
                <p class="card-body card-title h4" style="font-weight:500;">{{item.nombreHabilidad}}</p>
                <p class="card-body h6">{{item.descripcion}}</p>
                <mat-progress-spinner  mode="determinate" [value]=item.puntuacion*10 style="margin-bottom: 2em;"><p>{{item.puntuacion}}</p></mat-progress-spinner>
                <div>
                <button (click)="mostrarHabilidad(indice)" *ngIf=recibologueado mat-mini-fab color="warn" type="button" data-bs-toggle="modal" data-bs-target="#habilidadModal" style="margin-right: 1em;" >
                <mat-icon>edit</mat-icon></button>
                <button *ngIf=recibologueado mat-mini-fab color="basic" type="button" data-bs-toggle="modal"
                    data-bs-target="#borrarHabilidadModal" >
                    <mat-icon>delete</mat-icon>
                
                </button>
                </div>
            </div>
        </div>

        <button *ngIf=recibologueado style="left: 50%;" mat-mini-fab color="accent" type="button" data-bs-toggle="modal" data-bs-target="#habilidadModal">
            <mat-icon>add</mat-icon>
        </button>
</div>

<!-- Modal agregar Editar-->
<div class="modal fade" id="habilidadModal" tabindex="-1" aria-labelledby="habilidadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="habilidadModalLabel">Habilidad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="mb-3">
                        <label for="nombreHabilidad" class="form-label">Habilidad</label>
                        <input type="text" class="form-control" id="nombreHabilidad" formControlName="nombreHabilidad" placeholder="Habilidad">
                            <div *ngIf="nombreHabilidad?.invalid && (nombreHabilidad?.touched)" class="text-danger">
                                Hay un error en el nombre
                            </div>
                    </div>
                    <div class="mb-3">
                        <label for="puntuacion" class="form-label">Puntuación</label>
                        <select selected="0" name="puntuacion" class="form-control" id="puntuacion" formControlName="puntuacion">
                            <option value="0">Elige una opción</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <div *ngIf="puntuacion?.invalid && (puntuacion?.touched)" class="text-danger">
                            Hay un error en la puntuación
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripcion del trabajo</label>
                        <input type="text" class="form-control" id="descripcion" formControlName="descripcion" placeholder="Una breve descripción">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cerrarHabilidadesModal" data-bs-dismiss="modal" (click)="resetearFormulario()">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="guardarFormulario()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal borrar-->
<div class="modal fade" id="borrarHabilidadModal" tabindex="-1" aria-labelledby="borrarHabilidadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="borrarHabilidadModalLabel">Borrar Habilidad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="confirmar" class="form-label">¿Estás Segurx?</label>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="borrarHabilidad()">Sí</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>